<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h2 class="wow fadeIn" data-wow-delay="0s">Introducing a </h2>
            <h1 class="wow fadeIn" data-wow-delay="0s">Dynamic Ontology </h1>
            <h2 class="wow fadeIn" data-wow-delay="0s">for Mental Health Classification</h2>
            <hr class="btn-white wow fadeIn" data-wow-delay="0.15s">
            <h4 class="wow fadeIn" data-wow-delay="0.30s">Flexible and adaptive modeling of mental health dimensions within the HiTOP framework</h4>
            <div class="spacer-100"></div>
            <a href="#contact" class="btn btn-white btn-xl page-scroll">Get Involved</a>
        </div>
    </div>
</header>
